<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Indo Food</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap"
    />
  </head>
  <body>
    <header class="header">
      <div class="header_logo">
        <a href="/">Indo Food</a>
      </div>
      <button
        id="menu_toggle"
        class="menu_toggle"
        tabindex="0"
        aria-label="button to open side menu"
      >
        <i class="fas fa-bars"></i>
      </button>
      <nav id="drawer" class="header_nav">
        <ul class="nav_list">
          <li class="nav_item"><a href="/">Home</a></li>
          <li class="nav_item"><a href="#">Favorites</a></li>
          <li class="nav_item">
            <a target="_blank" href="https://github.com/febrisatriawan"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <section class="hero">
      <div class="herocontent">
        <h1 class="herotitle">Indo Food</h1>
        <p class="herodesc">Rasakan sensasi lezat disetiap hidangan</p>
      </div>
    </section>
    <main>
      <section class="content" id="content">
        <div class="card">
          <h1 class="card__label">Pilih Restoran Favoritmu</h1>
          <div class="lists" id="lists"></div>
        </div>
      </section>
    </main>
    <footer>
      <p>Indo Food - Copyright ©2023</p>
    </footer>
  </body>
</html>
